<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         processIsolation="false"
         failOnRisky="true"
         failOnWarning="true"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix=".phpt">tests/integration/</directory>
        </testsuite>
    </testsuites>
</phpunit>
